.goToMap {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 15rem;
}

.goToMap svg {
  max-width: 1.5rem;
  margin-right: 0.5rem;
}

.details-modal__items tbody tr:first-child td:first-child,
.details-modal__info tbody tr:first-child td:first-child {
  width: 50%;
}